.create-acc-btn{
    display: flex;
    justify-content: center;
}

.create-acc-btn button{
    color: white;
    background-color: rgb(66, 152, 66);
    border: 0;
    font-weight: 500;
    border-radius: 5px;
    padding: 7px 15px;
}