@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');

.request-title{
    font-family: 'Josefin Sans', sans-serif;
}

.appointment-form input{
    height: 52px;
}

.send-btn{
    background-color: rgb(244, 90, 213);
    border: 0;
}